.root {

    -fx-background-color: #5e5c5c;

     /*default font */

    -fx-font-family: 'Helvetica Neue';

    -fx-font-size: 17.0px;

}

/*******************************************************************************

 *                                                                             *

 * Label                                                                       *

 *                                                                             *

 ******************************************************************************/



.label {

    -fx-text-fill: WHITE;

}



.label:disabled {

    -fx-opacity: -fx-disabled-opacity;

}



.label:show-mnemonics > .mnemonic-underline {

    -fx-stroke: -fx-text-base-color;

} 



.text {

    -fx-effect:dropshadow(gaussian, rgb(0.0, 0.0, 0.0, 0.2), 0.0, 0.0, 0.0, 1.0); 

}

/*******************************************************************************

 *                                                                             *

 * Button & ToggleButton                                                       *

 *                                                                             *

 ******************************************************************************/

 

.toggle-button, .button {

    -fx-background-color: #5e5c5c;

    -fx-background-insets:  0.0;

    -fx-background-radius: 2.0;

    -fx-border-width: 0.0;

    -fx-padding: 0.1em;

    -fx-alignment: CENTER;
	
    -fx-pref-height: 34px;

    -fx-font-size: 15px;

}



.toggle-button:focused,

.button:focused,

.button:default:focused {

       -fx-background-color: #9a5871;

       -fx-text-fill: #6d4068;

}



.toggle-button:focused:selected {

       -fx-background-color: #9a5871;

       -fx-text-fill: #6d4068;

}

.toggle-button:armed,

.toggle-button:selected,

.button:armed,


/*******************************************************************************

 *                                                                             *

 * TextField                                                        	       *

 *                                                                             *

 ******************************************************************************/



.text-field {

    -fx-background-color: WHITE;

    -fx-text-fill: BLACK;

    -fx-background-insets:  0.0;

    -fx-background-radius: 2.0;

    -fx-border-width: 0.0;

    -fx-prompt-text-fill: BLACK;

    -fx-highlight-fill: rgb(94.0, 203.0, 234.0);

}

.text-field:focused {

    -fx-text-fill: WHITE;

    -fx-background-color: #4d4f4f;

    -fx-background-insets: 0.0, 0.2em;

    -fx-background-radius: 2.0;

}

/*******************************************************************************

 *                                                                             *

 * List View                                                                   *

 *                                                                             *

 ******************************************************************************/

.list-view {

     -fx-background-color: #4d4f4f;

     -fx-control-inner-background: #4d4f4f;

}

.list-view .list-cell:focused {

    -fx-background-color: #c6717a;

    -fx-text-fill: WHITE;

}

.list-view .list-cell > * > .text {

   -fx-text-fill: BLACK;

}

/*******************************************************************************

 *                                                                             *

 * TreeView                                                                    *

 *                                                                             *

 ******************************************************************************/

.tree-view {

     -fx-background-color: #5e5c5c;

     -fx-control-inner-background: #5e5c5c;

}

.tree-view .tree-cell:focused {

    -fx-background-color: #c6717a;

    -fx-text-fill: WHITE;

}

.tree-view .tree-cell > * > .text {

   -fx-text-fill: BLACK;

}


/*******************************************************************************

 *                                                                             *

 * Scroll Bar                                                                  *

 *                                                                             *

 ******************************************************************************/

.scroll-bar:vertical > .track-background,

.scroll-bar:horizontal > .track-background{

    -fx-background-color: #4d4f4f;

    -fx-background-insets: 0.0;

}



.scroll-bar:vertical > .thumb,

.scroll-bar:horizontal > .thumb {

    -fx-background-color: #b4ccdb;

    -fx-background-insets: 0.0;

    -fx-background-radius: 0.0;

}


.scroll-bar > .increment-button, 

.scroll-bar > .decrement-button,

.scroll-bar:hover > .increment-button, 

.scroll-bar:hover > .decrement-button {

    -fx-background-color: transparent;

}


.scroll-bar > .increment-button > .increment-arrow,

.scroll-bar > .decrement-button > .decrement-arrow {

    -fx-background-color: white;

}


.scroll-bar > .track-background{

    -fx-background-color:transparent;

}


/*******************************************************************************

 *                                                                             *

 * ComboBox                                                                    *

 *                                                                             *

 ******************************************************************************/

.combo-box {

   -fx-background-color: #4d4f4f;

		
}

.combo-box .cell:selected {

    -fx-background-color: #c6717a;

}

/*******************************************************************************

 *                                                                             *

 * Volume Bar/Track Duration Bar & Sliders                                     *

 *                                                                             *

 ******************************************************************************/

.progress-bar > .track {

    -fx-background-color: #4d4f4f;

}

.progress-bar > .bar {

    -fx-background-color: #c6717a;  

}

.slider .track {

    -fx-background-color:null;  /* Hide the track */

}

.slider .thumb {

    -fx-background-color:null; /* Hide the thumb*/

}

/*******************************************************************************

 *                                                                             *

 * Table View                                                                  *

 *                                                                             *

 ******************************************************************************/

.table-view {
	-fx-background-color: #4d4f4f;
	-fx-control-inner-background: #4d4f4f;
}

.table-view .column-header {	
	-fx-background-color: #b4ccdb;	
}

.table-view .column-header .label {
	-fx-background-color: #b4ccdb;
	-fx-text-fill: BLACK;
}

.table-view .table-row-cell:focused {	
   	-fx-background-color: #c6717a; 
}

.table-view .table-row-cell:focused .text {	
   	-fx-text-fill: BLACK;
}

/*******************************************************************************

 *                                                                             *

 * Text Area                                                                   *

 *                                                                             *

 ******************************************************************************/

.text-area{
	-fx-background-color: #4d4f4f;
	-fx-control-inner-background: #4d4f4f;
}

/*******************************************************************************

 *                                                                             *

 * Scroll Pane                                                                 *

 *                                                                             *

 ******************************************************************************/

.scroll-pane > .viewport{
	-fx-background-color: #4d4f4f;
	-fx-control-inner-background: #4d4f4f;
}
